@page "/"
@using Objects
@using Services
@using System.Text.Json

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="GoogleLogin" id="btnSignIn" class="rounded-pill btn btn-light border d-flex align-items-center gap-2 px-4 py-2 shadow-sm">
    <img src="/Resources/google_icon_64dp.png" width="22" height="22">
    <span>Đăng nhập với Google</span>
</button>
<button class="btn btn-danger" @onclick="GoogleLogout">Đăng xuất</button>

@code {
    [Inject]
    IJSRuntime JS {
        get; set;
    }

    private async Task GoogleLogin() {
        JsonElement result = await JS.InvokeAsync<JsonElement>("window.signInWithGooglePopup");
        bool success = result.GetProperty("ok").GetBoolean();

        if (!success) {
            return;
        }

        string displayName = result.GetProperty("displayName").GetString();
        string uid = result.GetProperty("uid").GetString();
        await FirebaseDatabaseService.CreateWithSpecificKey(new User { displayName = displayName, createdAt = 1 }, "users", uid);
    }

    private async Task GoogleLogout() {
        await JS.InvokeAsync<JsonElement>("window.signOutUser");
    }
}